<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Otomasyon.Properties.Settings.OtomasyonConnectionString"
            connectionString="Data Source=LAPTOP-PFAQN6QU\CANOZAYTEKIN;Initial Catalog=Otomasyon;Persist Security Info=True;User ID=can;Password=12345"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>